<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="cocktail DB API Rest Assured Automated Tests">
    <test thread-count="1" name="Search Ingredients By Name Tests Cases">
        <classes>
            <class name="tests.SearchByCocktailTests"/> <!-- test case class-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
